@import "tailwindcss";

:root {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  color: #ffffff;
  background: #011050;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: radial-gradient(circle at top, #00b4d8 20%, #0077b6 20% 80%, #023e8a 80% 100%   );
  color: #fff;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
}

::selection {
  background: rgba(16, 185, 129, 0.35);
  color: white;
}
subtitle {
  text-align: center;
}